.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #103d58 0%, #071a3a 30%, #010d16 100%);

  .loginCard {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 40px;
    background: #296cff0d;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    box-shadow: 2px 2px 20px rgb(9, 64, 95);
    color: white;
    white-space: nowrap;

    .loginCard__title {
      text-align: center;
      margin-bottom: 120px;
    }

    .loginCard__label {
      display: flex;
      margin-bottom: 10px;

      .loginCard__input {
        width: 100%;
        margin-left: 5px;
        border-radius: 4px;
        padding-left:  8px ;
        background-color: white;
        color:black;
        font-size: 14px;

        &:hover,
        &:focus {
          caret-color: black;
          outline: none;
          box-shadow: 0 0 8px rgb(255, 255, 255);
        }
      }
    }

    .loginCard__err {
      margin-bottom: 10px;
      height: 15px;
      color: red;
      font-size: 13px;
      font-weight: 500;
    }

    .loginCard__button {
      padding: 10px;
      color: white;
      border-radius: 4px;
      background: rgb(79, 62, 202);

      &:hover {
        filter: brightness(1.2);
        cursor: pointer;
      }
    }
  }
}