.banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    height: 100px;
    padding: 0 40px;
    background-color: black;
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;

    .bannerUser {
        display: flex;

        .bannerUser__logout {
            margin-left: 10px;
            cursor: pointer;
            &:hover {
           font-weight: 500;
                color: #fff; 
            }
        }
    }
}