.nav {
    box-sizing: border-box;
    height: 100vh;
    min-width: 256px;
    // padding: 20px 20px;
    background-color: #001529;
    color: white;

    .navTop {
        height: 100px;
        text-align: center;
        line-height: 100px;
        font-size: 20px;


    }

    .navContent {
        width: 100%;
        color: #8f949e;

        .navContent__list {
            display: flex;
            flex-direction: column;

            .navContent__item,
            .navContent__subItem {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 10px 15px;
                cursor: pointer;

                &:hover {
                    color: white;
                    background-color: #1da57a;
                }
            }

            .navContent__itemIcon {
                // width: 20px;
                // height: 20px;
            }

            .navContent__itemGroup {
                display: flex;
                flex-direction: column;

                .navContent__subList {
                    height: 0;
                    padding: 0;
                    overflow: hidden;
                    transition: .2s ease-in-out;

                    .navContent__subItem {
                        padding-left: 45px;
                    }
                }
            }
        }
    }
}